<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.pentru_tata.fliyngkitty"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Fliyngkittty</name>

  <description>
      Pentru tati!
  </description>

  <author href="https://web.facebook.com/Official.GNitu07" email="george.nitu07@gmail.com">
      Hardeep Shoker
  </author>

</widget>