<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.pentru_tata.fliyngkitty"
    versionCode = "12"
    version     = "1.2.0" >

<!-- versionCode is optional and Android only -->

  <name>Fliyngkittty</name>

  <description>
      Pentru tati!
  </description>

  <author email="george.nitu07@gmail.com">
      Nitu George
  </author>

</widget>
